- Complete the "identify data types" tasks by assigning values to the variable  bucket and using type()

In [1]:
# [ ] show the type after assigning bucket = a whole number value such as 16 
bucket = 16 
type(bucket)

int

In [2]:
# [ ] show  the type after assigning bucket = a word in "double quotes"
bucket = "sixteen"
type(bucket)

str

In [7]:
# [ ] display the type of 'single quoting' (use single quotes) 
type('single quoting')

str

In [6]:
# [ ] display the type of "double quoting" (use double quotes)
type("double quoting")

str

In [5]:
# [ ] display the type of "12" (use quotes)
type("12")

str

In [8]:
# [ ] display the type of 12 (no quotes)
type(12)

int

In [9]:
# [ ] display the type of -12 (no quotes)
type(-12)

int

In [10]:
# [ ] display the type of 12.0 (no quotes)
type(12.0)

float

In [4]:
# [ ] display the type of 1.55
print(type(1.55))
print(type(11.55))

<class 'float'>
<class 'float'>